html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, summary, footer, main, aside, section{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	list-style-type: none;
	}
body{
	font-family: Lato ,sans-serif;
	margin: 10%;
}
.mainDetails{
	display: flex;
	flex-direction: row;
	margin-top: 8%;
	
}
#headshot img {
	width: 100px;
    border-radius: 50px;
	flex-grow: 0;
}

#name {
	flex-grow: 1;
	margin-left: 3%;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
#contactDetails, #contactDetails a{
	flex-grow: 0;
	text-decoration:none;
	color:#444444;
	font-size:14px
	
}
.divisaoCabessario{
	margin-top: 40px;
	margin-right: 5px;
	margin-left: 5px;
	height:2px;
	width: 100%;
	background-color: #cf8a05;
}
#mainArea{
	margin-left: 3%;
	margin-right: 3%;
}
section{
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	margin-bottom: 15px;
}
article{
	display: flex;
}

.sectionContent{
	width: 70%;
}
.sectionTitle{
	float: left;
	width: 30%;
	height: 110%;
	color: #cf8a05;
	font-family: Helvetica, sans-serif;
	font-size: 15px

}
.sectionContent article{
	flex-direction: column;
}
.divisoriaTexto{
	margin-right: 5px;
	margin-left: 5px;
	height: 1px;
	width: 100%;
	background-color: #dedede;
}
.keySkills{	
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}	
.keySkills li{
	width: 30%;
}
section p{
	color: #181818;
}
h2{
	font-size: 20px;
	color: #444444;
}
.subDetails{
	font-size: 13px;
	color: #444444;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
}

.sectionTitle {
	float: left;
	width: 25%;
	color: #cf8a05;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
}

.sectionContent {
	float: right;
	width: 72.5%;	
}

.sectionContent{
	color: #444444;
}

.subDetails{
	height: 15px;
	font-style: italic;
	color: #444444;
}

h2{
	height: 5px;
	font-weight: 400;
}

p{
	color: #444444;
}

.keySkills{
	column-count: 3;
}
